// universal classes
.bg-navy
  background: $navy
.bg-blue
  background: $blue
.bg-teal
  background: $teal
.bg-light-blue
  background: $light-blue
.bg-steal-blue
  background: $steal-blue
.bg-orange
  background: $orange
.bg-green
  background: $green
.bg-gray
  background: $gray
.bg-light-gray
  background: $light-gray
.bg-black
  background: $black
.bg-white
  background: $white

.color-navy
  color: $navy
.color-blue
  color: $blue
.color-teal
  color: $teal
.color-light-blue
  color: $light-blue
.color-steal-blue
  color: $steal-blue
.color-orange
  color: $orange
.color-green
  color: $green
.color-gray
  color: $gray
.color-light-gray
  color: $light-gray
.color-black
  color: $black
.color-white
  color: $white

.img-default
  display: block
  height: auto
  width: 100%
  &.img-center
    margin-left: auto
    margin-right: auto
  &.img-circle
    border-radius: 100%

.divider
  display: block
  background: $orange
  height: 0.5rem
  &--blue
    background: $blue
  &--green
    background: $green
  &--sm
    width: 4rem

// navigation
nav
  a.nav-link
    background: $blue
    color: $white
    padding: 0.875rem
    border-radius: 0.25rem
    text-decoration: none
    transition: all 300ms
    &:hover
      background: darken($blue, 10%)

.footer-top
  width: 100%
  height: 0.5rem
  background: $green

// custom classes
.home-hero-wrapper
  background-image: url("images/az-banner-bg.jpg")
  background-position: center
  background-repeat: no-repeat
  background-size: cover

.shadow-az
  box-shadow: -1.5rem 1.5rem $green
.shadow-hc
  box-shadow: 1.5rem 1.5rem $light-blue
.shadow-mwt
  box-shadow: -1.5rem 1.5rem $blue
.shadow-ccc
  box-shadow: 1.5rem 1.5rem $navy
.shadow-brand
  box-shadow: -1.5rem 1.5rem $navy

.icon
  &.middle
    vertical-align: middle
  &--1
    height: 1rem

.border-r-025
  border-radius: 0.25rem
.border-r-05
  border-radius: 0.5rem
.border-r-075
  border-radius: 0.75rem
.border-r-1
  border-radius: 1rem

.m-b-05
  margin-bottom: 0.5rem

.ad-block-email
  h4
    border-left: 0.5rem solid $orange
    padding-left: 1rem
    font-size: 1.5rem
    @media screen and (min-width: 752px)
      font-size: 2rem
  a
    font-size: inherit
    text-decoration: none
    color: $orange
    font-weight: 700