// universal classes
.bg-navy
  background: $navy
.bg-blue
  background: $blue
.bg-teal
  background: $teal
.bg-light-blue
  background: $light-blue
.bg-orange
  background: $orange
.bg-green
  background: $green
.bg-gray
  background: $gray
.bg-light-gray
  background: $light-gray
.bg-black
  background: $black
.bg-white
  background: $white

.color-navy
  color: $navy
.color-blue
  color: $blue
.color-teal
  color: $teal
.color-light-blue
  color: $light-blue
.color-orange
  color: $orange
.color-green
  color: $green
.color-gray
  color: $gray
.color-light-gray
  color: $light-gray
.color-black
  color: $black
.color-white
  color: $white

.img-default
  display: block
  height: auto
  width: 100%
  &.img-center
    margin-left: auto
    margin-right: auto
  &.img-circle
    border-radius: 100%

.divider
  display: block
  background: $orange
  height: 0.5rem
  &--blue
    background: $blue
  &--sm
    width: 4rem

// custom classes
.home-hero-wrapper
  background-image: url("images/az-banner-bg.jpg")
  background-position: center
  background-repeat: no-repeat
  background-size: cover

.shadow-az
  box-shadow: -1.5rem 1.5rem $green
.shadow-hc
  box-shadow: 1.5rem 1.5rem $light-blue
.shadow-mwt
  box-shadow: -1.5rem 1.5rem $blue
.shadow-ccc
  box-shadow: 1.5rem 1.5rem $navy

.footer-top
  width: 100%
  height: 0.5rem
  background: $green